# Explore U.S. Births

In [16]:
csv_list = open("US_births_1994-2003_CDC_NCHS.csv")
csv_list = csv_list.read()
csv_list = csv_list.split("\n")

In [17]:
csv_list[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [21]:
def read_csv(s):
    string_list = open(s).read().split('\n')[1:]
    final_list = []
    for row in string_list:
        string_fields = row.split(',')
        int_fields = []
        for ele in string_fields:
            int_fields.append(int(ele))
        final_list.append(int_fields)
    return final_list

In [22]:
cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')

In [23]:
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [27]:
def month_births(lists):
    births_per_month = {}
    for li in lists:
        month = li[1]
        birth = li[4]
        if month in births_per_month:
            births_per_month[month] += birth
        else:
            births_per_month[month] = birth
    return births_per_month

In [28]:
cdc_month_births = month_births(cdc_list)

In [29]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [32]:
def dow_births(lists):
    births_per_dow = {}
    for li in lists:
        week = li[3]
        birth = li[4]
        if week in births_per_dow:
            births_per_dow[week] += birth
        else:
            births_per_dow[week] = birth
    return births_per_dow

In [33]:
cdc_day_births = dow_births(cdc_list)

In [34]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [ ]:
def calc_counts(data, column):
    dset = {}
    for d in data:
        v = d[column]
        birth = d[4]
        if v in dset:
            dset[birth] += v
        else: